:root {
    /* ... tus variables existentes ... */
    --skeleton-bg: #e0e0e0;

    --primary-background-color: rgb(253, 253, 253);
    --primary-color: rgb(230, 183, 95);
    --primary-color-hover:rgb(211, 150, 59);
    --secondary-background-color:rgb(243, 243, 243);
    --navbar-bg: rgba(255, 255, 255, 0.719);
    --navbar-bg-hover: rgba(207, 205, 205, 0.719);
    --nav-text: rgb(14, 13, 13);
    --navbar-height:200px;
    --border-color:rgb(17, 17, 17,0.3);
    --border-color-hover:rgb(17, 17, 17,0.9);
    --card-bg: white;
    --success-color: rgb(43, 146, 77);
  }
  
  @media (prefers-color-scheme: dark) {
    :root {
      /* ... tus variables existentes ... */
      --skeleton-bg: #2d2d2d;
    }
  }

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: block;
  }
  
  #app {
    margin: 0;
    min-height: 100vh;
    min-width: 103vw;
    display: flex;
    flex-direction: column;
    background-color: var(--primary-background-color);
  }

  .main-content {
    margin: 0;
    flex: 1;
    padding: 2rem 0;
    background: var(--bg-color);
  }
